/* Sidebar.css */
.pharmacist-sidebar {
  height:100vh;
  background: #003e26;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width:250px;
  margin: 20px;
}

.pharmacist-sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.pharmacist-sidebar-menu {
  list-style: none;
  padding: 0;
}

.pharmacist-sidebar-menu li {
  margin: 10px 0;
}

.pharmacist-nav-link {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
.pharmacist-nav-link:hover,
.pharmacist-nav-link.active {
  background: rgb(3, 183, 3);
}
.pharmacist-icon {
  font-size: 18px;
}
