/* Sidebar.css */
.sidebar {

  height: 100%;
  background: #019641;
  color: white;
  padding: 15px;
  
  display: flex;
  flex-direction: column;

  border-radius: 15px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 10px 0;
}

.nav-link {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link.active {
  background: rgb(3, 183, 3);
}

.icon {
  font-size: 18px;
}


